/*Home Page 1 About*/
/*----------------------------------------------------*/
.mt-about-section-1 {
	z-index: 1;
	margin: 0 auto;
	mask-size: cover;
	margin-top: -150px;
	position: relative;
	padding-top: 270px;
	padding-bottom: 140px;
	mask-repeat: no-repeat;
	mask-position: center center;
	mask-image: url(../img/bg/mask-shape2.png); 
}
.mt-about-content-1 {
	gap: 30px 60px;
	@media #{$lg,$md,$xs} {
		flex-wrap: wrap;
		justify-content: center;
	}
}
.mt-about-tab-content {
	width: 100%;
	max-width: 635px;
}
.mt-about-tab-btn {
	border-radius: 50px;
	display: inline-block;
	padding: 12px 0px 8px;
	border: 2px solid #56ff61;
	@media #{$xxs} {
		border: none;
	}
	&.ver_2 {
		padding: 0;
		width: 100%;
		border: none;
		border-radius: 0;
		padding-bottom: 30px;
		border-bottom: 1px solid #E8E6DC;
		@media #{$md,$xs} {
			margin-top: 40px;
		}
		.nav-item {
			margin-left: 0;
			margin-right: 24px;
			&:last-child {
				margin-right: 0;
			}
		}
		.nav-tabs {
			.nav-link {
				font-weight: 400;
				box-shadow: none;
				background-color: #E8E6DC;
			}
			.nav-link.active {
				font-weight: 400;
				box-shadow: none;
			}
		}
	}
	.nav-item {
		margin: 0px 19px;
		@media #{$xxs} {
			margin: 8px 0px;
			width: 100%;
			text-align: center;
		}
	}
	.nav-tabs {
		.nav-link,
		.nav-link.active {
			padding: 0;
			font-size: 18px;
			font-weight: 700;
			border-radius: 50px;
			padding: 13px 40px;
			background-color: #fff;
			text-transform: uppercase;
			color: var(--mt-title-color);
			box-shadow: 1.634px 2.516px 2px 0px rgba(0, 0, 0, 0.13);
		}
		.nav-link {
			z-index: 1;
			overflow: hidden;
			position: relative;
			&:before {
				top: 0;
				right: 0;
				width: 0%;
				left: auto;
				z-index: -1;
				content: '';
				height: 100%;
				position: absolute;
				border-radius: 50px;
				transition: 500ms var(--cube-1);
				background: var(--mt-gradient);
			}
			&.active {
				color: var(--mt-title-color);
				&:before {
					left: 0;
					width: 100%;
					right: auto;
				}
			}
		}
	}
}
.mt-about-tab-text {
	.mt-about-tab-list {
		overflow: hidden;
		border-radius: 6px;
		background-color: #f1efe7;
		@media #{$xs} {
			flex-wrap: wrap;
			padding-bottom: 30px;
			justify-content: center;
		}
		.item-icon {
			width: 280px;
			height: 240px;
			background-color: #fff;
			@media #{$xs} {
				width: 100%;
				margin-bottom: 15px;
			}
			.m-icon {
				width: 85px;
				height: 85px;
				margin: 0 auto;
				margin-bottom: 10px;
				border-radius: 100%;
				background: var(--mt-gradient);
			}
			span {
				font-size: 27px;
				font-weight: 700;
				color: var(--mt-title-color);
			}
		}
		.item-list {
			width: 100%;
			height: 100%;
			max-width: 340px;
			padding-left: 50px;
			@media #{$xs} { 
				padding-left: 12px;
			}
			li {
				font-weight: 700;
				font-size: 21px;
				padding-left: 22px;
				margin: 10px 0px 7px;
				position: relative;
				color: var(--mt-title-color);
				&:before {
					left: 0;
					top: 12px;
					width: 10px;
					content: '';
					height: 10px;
					position: absolute;
					border-radius: 100%;
					background: var(--mt-gradient);
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		&.dark_version {
			background-color: #2f2e2e;
			.item-icon {
				background-color: #201f1f;
				span {
					color: #fff;
				}
			}
			.item-list  {
				li {
					color: #fff;
				}
			}
		}
	}
	.tab-desc {
		font-size: 23px;
		margin-bottom: 20px;
	}
	.tab-list {
		ul {
			display: flex;
			flex-wrap: wrap;
		}
		li {
			width: 50%;
			color: #000000;
			font-size: 20px;
			font-weight: 500;
			margin-bottom: 15px;
			padding-left: 25px;
			position: relative;
			@media #{$xs} {
				width: 100%;
			}
			&:before {
				left: 0;
				top: 10px;
				width: 16px;
				content: '';
				height: 16px;
				position: absolute;
				background-image: url(../img/icon/star3.svg);
			}
		}
	}
}
.mt-about-client {
	margin-bottom: 30px;
	@media #{$xs} { 
		flex-wrap: wrap;
	}
	.item-text {
		margin-left: 20px;
		li {
			color: #efcc4c;
			font-size: 15px;
		}
		span {
			color: #777c83;
			font-size: 16px;
		}
	}
}
.mt-about-text-wrap {
	width: 100%;
	margin-top: 50px;
	max-width: 640px;
	h3 {
		font-size: 23px;
		font-weight: 600;
		line-height: 1.522;
		padding-bottom: 25px;
	}
}
.mt-about-cta {
	gap: 30px 55px;
	margin-top: 25px;
	@media #{$xl,$lg,$md} {
		gap: 30px 20px;
	}
	@media #{$xs} { 
		flex-wrap: wrap;
	}
	.cta-info {
		width: 100%;
		max-width: 220px;
	}
	.cta-text {
		width: 100%;
		max-width: 345px;
	}
	.cta-item {
		margin-bottom: 18px;
		&:last-child {
			margin-bottom: 0;
		}
		.item-icon {
			width: 43px;
			height: 43px;
			margin-right: 12px;
			border-radius: 100%;
			background-color: #fff;
			color: var(--mt-title-color);
			border: 1px solid rgb(230, 230, 230);
		}
		.item-text {
			font-size: 20px;
			font-weight: 500;
			color: var(--mt-title-color);
			a {
				text-decoration: underline;
			}
		} 
	}
}
/*Home Page 2 About*/
/*----------------------------------------------------*/
.mt-about-section-2 {
	overflow: hidden;
}
.mt-about-img-grp {
	top: 70px;
	left: 40px;
	position: absolute;
	@media #{$xl,$lg,$md,$sm,$xs} {
		display: none;
	}
	.img_1 {
		width: 225px;
		height: 225px;
		overflow: hidden;
		margin-left: 50px;
		margin-bottom: 12px;
		border-radius: 100%;
		transform: scale(0);
		transition: all 700ms ease;
		&.active {
			transform: scale(1);
			transition-delay: 700ms;
		}
	}
	.img_2 {
		width: 172px;
		height: 172px;
		overflow: hidden;
		border-radius: 100%;
		transform: scale(0);
		transition: all 700ms ease;
		&.active {
			transform: scale(1);
			transition-delay: 800ms;
		}
	}
}
.mt-about-content-wrap {
	overflow: hidden;
	@media #{$xl,$lg,$md,$sm,$xs} {
		align-items: center;
		justify-content: center !important;
	}
}
.mt-about-text-2 {
	overflow: hidden;
	max-width: 1090px;
	@media #{$xxs} {
		display: block !important;
	}
	.mt-section-title {
		padding-left: 120px;
		@media #{$md,$sm,$xs} {
			padding-left: 0;
		}
		.subtitle-2 {
			font-weight: 500;
			@extend%gradient-text;
		}
		.sec_title {
			color: #fff;
		}
	}
	.item-img-text {
		gap: 35px;
		overflow: hidden;
		@media #{$md,$sm,$xs} {
			flex-wrap: wrap;
			justify-content: center;
		}
		.item-img {
			width: 385px;
			height: 385px;
			overflow: hidden;
			border-radius: 100%;
			@media #{$lg,$md,$sm,$xs} {
				width: 340px;
				height: 340px;
			}
			@media #{$xxs} {
				width: 300px;
				height: 300px;
			}
		}
		.item-text {
			max-width: 670px;
			@media #{$lg,$md,$sm,$xs} {
				max-width: 590px;
			}
			p {
				color: #fff;
				font-weight: 300;
				font-size: 23px;
				@media #{$md,$sm,$xs} {
					text-align: center;
				}
			}
			.mt-btn-3 {
				a {
					color: #fff;
					&:before {
						background-color: #232323;
					}
				}
			}
		}
	}
}
/*Home Page 2 About 3*/
/*----------------------------------------------------*/
.mt-about-section-3 {
	overflow: hidden;
}
.mt-about-content-3 {
	gap: 20px 30px;
	@media #{$lg,$md,$sm,$xs} {
		flex-wrap: wrap;
		justify-content: center;
	}
}
.mt-about-text-3 {
	max-width: 575px;
	.mt-section-title {
		p {
			padding-top: 14px;
		}
	}
}
.mt-about-list-area {
	gap: 20px 40px;
	@media #{$sm,$xs} {
		flex-wrap: wrap;
	}
	.item-list {
		margin-top: 28px;
		li {
			color: #0e0e12;
			font-size: 17px;
			position: relative;
			font-weight: 700;
			margin-bottom: 16px;
			padding-left: 35px;
			&:last-child {
				margin-bottom: 0;
			}
			&:before {
				top: 0;
				left: 0;
				width: 28px;
				height: 28px;
				display: flex;
				content: '\f00c';
				font-size: 15px;
				position: absolute;
				border-radius: 100%;
				align-items: center;
				justify-content: center;
				background-color: #ececec;
				font-family: 'Font Awesome 6 Free';
			}
		}
	}
	.mt-about-exp {
		width: 265px;
		height: 190px;
		border-radius: 40px;
		border: 1px solid #98e209;
		.item-text {
			max-width: 175px;
		}
		h3 {
			color: #191917;
			line-height: 1;
			font-size: 80px;
			font-weight: 700;
			padding-bottom: 5px;
		}
		p {
			color: #000000;
			line-height: 1.2;
			font-size: 20px;
			font-weight: 700;
		}
	}
}
.mt-about-img-wrap-3 {
	z-index: 1;
	width: 100%;
	max-width: 685px;
	padding-top: 85px;
	.item-img-1 {
		transition: all 800ms ease;
		transform: translateX(100px);
	}
	&:before {
		top: 0;
		right: 0;
		z-index: -1;
		content: '';
		width: 470px;
		height: 0px;
		position: absolute;
		border-radius: 30px;
		background-color: #242527;
		transition: all 800ms ease;
		@media #{$sm,$xs} {
			display: none;
		}
	}
	.item-img-2 {
		z-index: 1;
		top: 75px;
		opacity: 0;
		left: 35px;
		transform: translateX(100px);
		transition: all 800ms ease;
		box-shadow: 0px 2px 62px 0px rgba(0, 0, 0, 0.22);
	}
	.item-img-3 {
		z-index: 1;
		right: 80px;
		bottom: 30px;
		opacity: 0;
		overflow: hidden;
		border-radius: 20px;
		transform: translateX(100px);
		transition: all 800ms ease;
		box-shadow: 0px 2px 62px 0px rgba(0, 0, 0, 0.22);
	}
	&.active {
		&:before {
			height: 515px;
			transition-delay: 900ms;
		}
		.item-img-1 {
			transform: translateX(0px);
		}
		.item-img-2 {
			opacity: 1;
			transform: translateX(0px);
			transition-delay: 500ms;
		}
		.item-img-3 {
			opacity: 1;
			transform: translateX(0px);
			transition-delay: 700ms;
		}
	}
}

/*Home Page 3 About 4*/
/*----------------------------------------------------*/
.mt-about-content-4 {
	gap: 30px 45px;
	@media #{$lg,$md,$xs} {
		flex-wrap: wrap;
		justify-content: center;
	}
}
.mt-about-text-4 {
	max-width: 800px;
	.mt-section-title {
		max-width: 600px;
	}
}
.mt-about-img-4 {
	.inner-img {
		gap: 30px;
		@media #{$xs} {
			flex-wrap: wrap;
			justify-content: center;
		}
		.item-img {
			transition: all 1000ms ease;
			img {
				overflow: hidden;
				border-radius: 30px;
			}
		}
		.item-img-1 {
			clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
		}
		.item-img-2 {
			clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
			transform: translateY(-108px);
			@media #{$lg,$md,$xs} {
				transform: translateY(0px);
			}
		}
		&.active {
			.item-img-1 {
				transition-delay: 700ms;
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
			}
			.item-img-2 {
				transition-delay: 900ms;
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
			}
		}
	}
}
.mt-about-counter {
	max-width: 430px;
	padding-top: 85px;
	.desc-text {
		color: #313030;
		line-height: 1.667;
		margin-bottom: 28px;
		padding-bottom: 25px;
		border-bottom: 1px solid #ececec;
	}
}
.mt-item-counter {
	padding-bottom: 35px;
	border-bottom: 1px solid #ececec;
	@media #{$xs} {
		gap: 15px 30px;
		flex-wrap: wrap;
	}
	.item-counter {
		h3 {
			color: #191917;
			font-size: 65px;
			font-weight: 700;
			@media #{$xs} {
				font-size: 50px;
			}
			@media #{$xxs} {
				font-size: 40px;
			}
		}
		p {
			color: #313030;
			font-weight: 300;
		}
	}
}
/*About Page Section*/
/*--------------------------------------*/
.mt-about-tab-section {
	overflow: hidden;
	.mt-section-title {
		max-width: 1130px;
		.sec_title {
			line-height: 1;
			font-size: 65px;
			@media #{$md,$xs} {
				font-size: 50px;
			}
			@media #{$xxs} {
				font-size: 40px;
			}
		}
	}
}
.mt-about-p-counter {
	border-top: 1px solid #22282F1A;
	.counter-p-item {
		width: 25%;
		padding: 55px 0px;
		border-right: 1px solid #22282F1A;
		@media #{$lg,$md} {
			width: 50%;
		}
		@media #{$sm,$xs} {
			width: 100%;
			padding: 30px 0px;
			border-right: none;
			border-bottom: 1px solid #22282F1A;
		}
		.item-content {
			gap: 15px;
		}
		h3 {
			line-height: 1;
			font-size: 100px;
			color: var(--mt-title-color);
			@media #{$xxxl,$xxl} { 
				font-size: 70px;
			}
			@media #{$xl,$sm,$xs} { 
				font-size: 55px;
			}
		}
		p {
			opacity: .8;
			line-height: 1.1;
			font-size: 23px;
			max-width: 100px;
			padding-bottom: 10px;
			color: var(--mt-title-color);
			@media #{$xl,$sm,$xs} { 
				font-size: 20px;
			}
		}
	}
}
.mt-about-value-section {
	background-color: #F7F7F8;
	.mt-section-title {
		max-width: 830px;
	}
}
.mt-about-value-item {
	z-index: 1;
	padding: 35px;
	position: relative;
	border-radius: 8px;
	margin-bottom: 30px;
	background-color: #fff;
	backdrop-filter: blur(15px);
	&:before,
	&:after {
		bottom: 0;
		right: 0;
		width: 100%;
		z-index: -1;
		height: 100%;
		content: '';
		border-radius: 8px;
		position: absolute;
		transition: all 500ms ease;
	}
	&:after {
		background-color: #fff;
	}
	&:before {
		background: var(--mt-gradient);
	}
	.item-icon {
		margin-bottom: 125px;
		@media #{$sm,$xs} { 
			margin-bottom: 50px;
		}
	}
	.item-text {
		h3 {
			font-size: 32px;
			font-weight: 700;
			padding-bottom: 25px;
			color: var(--mt-title-color);
		}
		p {
			color: #313030;
		}
	}
	&:hover {
		.item-icon {
			animation: icon-bounce 0.8s ease-out infinite;
		}
		&:before {
			right: -5px;
			bottom: -5px;
		}
	}
}
@keyframes border_animation {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0;
	}
	20% {
		-webkit-transform: scale(1.05);
		transform: scale(1.24);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1.7);
		transform: scale(1.7);
		opacity: 0;
	}
}
.mt-video-play-bg {
	padding: 230px 0px;
	@media #{$sm,$xs} { 
		padding: 130px 0px;
	}
	.play-icon {
		z-index: 2;
		width: 130px;
		height: 130px;
		margin: 0 auto;
		position: relative;
		border-radius: 100%;
		.video_btn_border {
			top: 0;
			left: 0;
			opacity: 0;
			width: 100%;
			height: 100%;
			border-radius: 100%;
			position: absolute;
			-webkit-animation-play-state: running;
			animation-play-state: running;
			border: 20px solid #fff;
			-webkit-animation: border_animation 3.9s linear 0s infinite;
			animation: border_animation 3.9s linear 0s infinite;
			&.border_wrap-2 {
				-webkit-animation-delay: 1.3s;
				animation-delay: 1.3s;
			}
			&.border_wrap-3 {
				-webkit-animation-delay: 2.6s;
				animation-delay: 2.6s;
			}
		}
		a {
			z-index: 2;
			width: 130px;
			height: 130px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			color: var(--vt-title-color);
			font-size: 16px;
			position: relative;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			border-radius: 100%;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			background-color: #fff;
		}
	}
}
.mt-video-play-section-4 {
	z-index: 1;
	.video-shape {
		top: 0;
		left: 0;
		right: 0;
		overflow: hidden;
		width: 100%;
		z-index: -1;
		height: 430px;
		margin: 0 auto;
		text-align: center;
		img {
			width: 100%;
			object-fit: cover;
		}
	}
}
.mt-video-play-bg {
	overflow: hidden;
	border-radius: 12px;
}
.mt-about-team-section {
	.mt-section-title {
		max-width: 650px;
	}
}
.mt-join-team {
	padding: 40px 0px;
	border-top: 1px solid #D3D3D3;
	border-bottom: 1px solid #D3D3D3;
	a {
		font-size: 20px;
		font-weight: 700;
		display: inline-block;
		@extend%gradient-text;
		&:hover {
			text-decoration: underline;
		}
	}
}
.mt-about-gallery-wrap {
	margin: 0 auto;
	max-width: 1920px;
	gap: 20px 40px;
}