/*Home Page 1 About*/
/*----------------------------------------------------*/
.mt-about-section-1 {
	z-index: 1;
	margin: 0 auto;
	mask-size: cover;
	max-width: 1920px;
	margin-top: -150px;
	position: relative;
	padding-top: 270px;
	padding-bottom: 140px;
	mask-repeat: no-repeat;
	mask-position: center center;
	mask-image: url(../img/bg/mask-shape2.png);
}
.mt-about-tab-btn {
	border-radius: 50px;
	display: inline-block;
	padding: 12px 0px 8px;
	border: 2px solid var(--mt-main-color);
	.nav-item {
		margin: 0px 19px;
	}
	.nav-tabs {
		.nav-link,
		.nav-link.active {
			padding: 0;
			font-size: 18px;
			font-weight: 700;
			border-radius: 50px;
			padding: 13px 40px;
			background-color: #fff;
			text-transform: uppercase;
			color: var(--mt-title-color);
			box-shadow: 1.634px 2.516px 2px 0px rgba(0, 0, 0, 0.13);
		}
		.nav-link {
			z-index: 1;
			overflow: hidden;
			position: relative;
			&:before {
				top: 0;
				right: 0;
				width: 0%;
				left: auto;
				z-index: -1;
				content: '';
				height: 100%;
				position: absolute;
				border-radius: 50px;
				transition: 500ms var(--cube-1);
				background: var(--mt-gradient);
			}
			&.active {
				&:before {
					left: 0;
					width: 100%;
					right: auto;
				}
			}
		}
	}
}
.mt-about-tab-text {
	.mt-about-tab-list {
		overflow: hidden;
		border-radius: 6px;
		background-color: #f1efe7;
		.item-icon {
			width: 280px;
			height: 240px;
			background-color: #fff;
			.m-icon {
				width: 85px;
				height: 85px;
				margin: 0 auto;
				margin-bottom: 10px;
				border-radius: 100%;
				background: var(--mt-gradient);
			}
			span {
				font-size: 27px;
				font-weight: 700;
				color: var(--mt-title-color);
			}
		}
		.item-list {
			width: 100%;
			height: 100%;
			max-width: 340px;
			padding-left: 50px;
			background-color: #f1efe7;
			li {
				font-weight: 700;
				 font-size: 21px;
				 padding-left: 22px;
				 margin: 10px 0px 7px;
				 position: relative;
				 color: var(--mt-title-color);
				 &:before {
				 	left: 0;
				 	top: 12px;
				 	width: 10px;
				 	content: '';
				 	height: 10px;
				 	position: absolute;
				 	border-radius: 100%;
				 	background: var(--mt-gradient);
				 }
				 &:last-child {
				 	margin-bottom: 0;
				 }
			}
		}
	}
}
.mt-about-client {
	margin-bottom: 30px;
	.item-text {
		margin-left: 20px;
		li {
			color: #efcc4c;
			font-size: 15px;
		}
		span {
			color: #777c83;
			font-size: 16px;
		}
	}
}
.mt-about-text-wrap {
	margin-top: 15px;
	margin-left: 30px;
	h3 {
		font-size: 23px;
		font-weight: 600;
		line-height: 1.522;
		padding-bottom: 25px;
	}
}
.mt-about-cta {
	gap: 30px 55px;
	margin-top: 25px;
	.cta-info {
		width: 100%;
		max-width: 220px;
	}
	.cta-text {
		width: 100%;
		max-width: 345px;
	}
	.cta-item {
		margin-bottom: 18px;
		&:last-child {
			margin-bottom: 0;
		}
		.item-icon {
			width: 43px;
			height: 43px;
			margin-right: 12px;
			border-radius: 100%;
			background-color: #fff;
			color: var(--mt-title-color);
			border: 1px solid rgb(230, 230, 230);
		}
		.item-text {
			font-size: 20px;
			font-weight: 500;
			color: var(--mt-title-color);
			a {
				text-decoration: underline;
			}
		}
	}
}
/*Home Page 2 About*/
/*----------------------------------------------------*/
.mt-about-section-2 {
	.mt-section-title {
		.subtitle-2 {
			font-weight: 500;
			@extend%gradient-text;
		}
		.sec_title {
			color: #fff;
		}
	}
}