.mt-blog-content {
	gap: 30px 90px;
}
.mt-blog-text-area {
	max-width: 430px;
	.mt-section-title {
		p {
			padding-top: 15px;
		}
	}	
}
.mt-blog-item-content {
	gap: 24px;
	max-width: 735px;
}
.mt-blog-item {
	max-width: 356px;
	overflow: hidden;
	border-radius: 20px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 117px 0px rgba(196, 196, 196, 0.28);
	.item-meta {
		color: var(--mt-title-color);
		bottom: 18px;
		left: 40px;
		line-height: 1;
		font-weight: 700;
		padding: 12px 20px;
		font-size: 12px;
		position: absolute;
		border-radius: 30px;
		background: var(--mt-gradient);
	}
	.item-text {
		padding: 30px 45px;
		.blog_title {
			font-size: 22px;
			font-weight: 700;
			padding-bottom: 10px;
		}
	}
}