.mt-career-hero-section {
	z-index: 1;
	overflow: hidden;
	.mt-career-hero-content {
		padding-top: 300px;
		@media #{$md,$sm,$xs} {
			padding: 180px 0px 70px;
		}
		h2 {
			color: #fff;
			font-size: 90px;
			line-height: 1.1;
			font-weight: 700;
			max-width: 1108px;
			@media #{$md,$xs} {
				font-size: 50px;
				text-align: center;
			}
			@media #{$xxs} {
				font-size: 40px;
			}
		}
	}
	&:before {
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 85%;
		content: '';
		position: absolute;
		background-color: #11203E;
		@media #{$lg,$md,$sm,$xs} {
			height: 100%;
		}
	}
	.mt-career-hero-img-text {
		gap: 30px 50px;
		margin-top: 90px;
		@media #{$lg} {
			align-items: center;
		}
		@media #{$md,$sm,$xs} {
			flex-wrap: wrap;
			margin-top: 50px;
			justify-content: center;
		}
		.item-img {
			overflow: hidden;
			border-radius: 20px;
		}
		.item-text {
			max-width: 396px;
			p {
				color: #FFFFFF;
				padding-bottom: 30px;
			}
			.bread_btn {
				color: #22282F;
				padding: 15px 40px;
				border-radius: 40px;
				display: inline-block;
				background: var(--mt-gradient);
				i {
					margin-left: 10px;
				}
			}
		}
	}
}
.mt-career-ben {
	padding: 30px;
	border-radius: 8px;
	margin-bottom: 32px;
	border: 1px solid #DBDBDB;
	.item-icon {
		margin-bottom: 25px;
	}
	.item-text {
		h3 {
			font-size: 22px;
			font-weight: 700;
			padding-bottom: 15px;
			color: var(--mt-title-color);
		}
	}
}
.mt-career-quote-section {
	background-color: #E8E6DC;
	.mt-section-title {
		max-width: 845px;
	}
}
.mt-career-quote-content {
	margin: 0 auto;
	max-width: 1165px;
}
.mt-career-qt-item {
	gap: 30px 40px;
	background-color: #F6F6F3;
	@media #{$md,$sm,$xs} {
		padding: 30px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.qt-icon {
		right: 60px;
		bottom: 30px;
		opacity: .12;
		line-height: 1;
		font-size: 100px;
		color: var(--mt-title-color);
	}
	.item-img {
		max-width: 409px;
	}
	.item-text {
		max-width: 655px;
		@media #{$md,$sm,$xs} {
			text-align: center;
		}
		p {
			color: #000000;
			font-size: 26px;
			line-height: 1.3;
			@media #{$xs} {
				font-size: 18px;
			}
		}
		.item-author {
			h3 {
				font-size: 22px;
				font-weight: 700;
				padding-bottom: 10px;
				color: var(--mt-title-color);
			}
		}
	}
}
.mt-open-position-section {
	.mt-section-title {
		p {
			padding-top: 25px;
		}
	}
}
.career_accordion {
	margin: 50px auto 0 !important;
	border-top: 1px solid #DBDBDB;
	.accordion-item {
		padding-left: 0;
		padding-top: 25px;
		padding-bottom: 25px;
		border-bottom: 1px solid #DBDBDB;
	}
	.accordion-button {
		span {
			font-size: 32px;
			font-weight: 500;
		}
	}
	.accordion-body {
		padding-bottom: 15px;
		P {
			max-width: 100%;
			margin-bottom: 20px;
		}
		.open_btn {
			font-size: 18px;
			font-weight: 400;
			padding: 13px 30px;
			border-radius: 100px;
			background: var(--mt-gradient);
			i {
				font-size: 18px;
				margin-left: 5px;
			}
			&:before {
				display: none;
			}
		}
	}
}
.career-open {
	.info-meta {
		gap: 15px 30px;
		margin-bottom: 25px;
		.info-item {
			h4 {
				font-size: 22px;
				font-weight: 500;
				padding-bottom: 8px;
				color: var(--mt-title-color);
			}
		}
	}
}
.art-career-details-text {
	h3 {
		color: #22282F;
		font-size: 40px;
		font-weight: 700;
		padding-bottom: 20px;
		@media #{$md,$sm,$xs} {
			font-size: 35px;
		}
		@media #{$xxs} {
			font-size: 30px;
		}
	}
	p {
		padding-bottom: 25px;
	}
	ul {
		margin-bottom: 25px;
	}
	li {
		position: relative;
		padding-left: 20px;
		margin-bottom: 10px;
		&:before {
			left: 0;
			top: 6px;
			width: 15px;
			height: 15px;
			content: '';
			position: absolute;
			border-radius: 100%;
			background-image: url(../img/icon/check.svg);
		}
	}
}
.art-career-apply-info {
	padding: 20px 35px;
	border-radius: 15px;
	background-color: #F9F9F9;
	li {
		gap: 0px 10px;
		flex-wrap: wrap;
		padding: 15px 0px 12px;
		display: flex !important;
		justify-content: space-between;
		border-bottom: 1px solid #E9E9E9;
		.v-tilte {
			color: #261723;
			i {
				margin-right: 10px;
				@extend%gradient-text-2;
			}
		}
		.v-value {
			color: #504E4E;
		}
	}
	a {
		color: #000;
		display: block;
		font-size: 16px;
		font-weight: 600;
		margin-top: 20px;
		padding: 13px 15px;
		border-radius: 15px;
		background: var(--mt-gradient);
	}
}
.art-job-apply-content {
	padding: 50px;
	margin: 0 auto;
	max-width: 730px;
	border-radius: 16px;
	border: 1px solid #E9E9E9;
	.sec_title {
		color: #22282F;
		font-size: 32px;
		font-weight: 400;
		padding-bottom: 40px;
	}
	button {
		padding: 0;
		border: none;
		padding: 12px 20px;
		border-radius: 40px;
		background: var(--mt-gradient);
	}
}
.art-contact-form-input {
	width: 100%;
	max-width: 592px;
	@media #{$md,$sm,$xs} {
		max-width: 100%;
	}
	.input-field {
		margin-bottom: 30px;
		label {
			display: block;
			line-height: 1;
			font-size: 12px;
			font-weight: 500;
			margin-bottom: 10px;
			letter-spacing: 2px;
		}
		input,textarea {
			width: 100%;
			height: 40px;
			border: none;
			background-color: transparent;
			border-bottom: 2px solid #fff;
			&::placeholder {
				opacity: .56;
			}
		}
		textarea {
			height: 75px;
			padding-top: 10px;
		}
	}
}