.mt-counter-section {
	margin: 0 auto;
	max-width: 1920px;
	padding-top: 240px;
	margin-top: -140px;
	padding-bottom: 120px;
}
.mt-counter-content {
	margin: 0 auto;
	max-width: 1140px;
}
.mt-counter-item {
	width: 310px;
	height: 135px;
	padding-left: 55px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, .78);
	h3 {
		font-size: 48px;
		font-weight: 700;
	}
	p {
		font-size: 18px;
		color: var(--mt-title-color);
	}
}