.mt-cta-section {
	padding: 110px 0px;
	background: var(--mt-gradient);
}
.mt-cta-content {
	h3 {
		color: #000000;
		font-size: 72px;
		font-weight: 700;
	}
	.mt-btn-1 {
		a {
			border: 2px solid #000;
			span {
				color: #000;
				font-weight: 700;
				-webkit-text-fill-color: inherit;
			}
			i {
				color: #000;
				margin-left: 10px;
				-webkit-text-fill-color: inherit;
			}
		}
	}
}
/*Bottom CTA*/
/*-----------------*/
.mt-bottom-cta-content {
	margin-top: -60px;
	overflow: hidden;
	padding: 0px 65px;
	border-radius: 80px;
	background: var(--mt-gradient);
}
.mt-cta-info {
	gap: 10px;
	padding: 35px 0px;
	position: relative;
	&:before {
		top: 0;
		width: 2px;
		height: 100%;
		content: '';
		right: -130px;
		position: absolute;
		background-color: #7ab900;
	}
	.item-icon {
		width: 53px;
		height: 53px;
		border-radius: 100%;
		background-color: var(--mt-title-color);
		i {
			color: #fff;
			font-size: 24px;
		}
	}
	.item-text {
		max-width: 210px;
		h3 {
			font-size: 18px;
			font-weight: 700;
			line-height: 1;
			color: var(--mt-title-color);
		}
		span {
			line-height: 1;
			font-size: 21px;
			font-weight: 700;
			display: inline-block;
			color: var(--mt-title-color);
		}
	}
}