.mt-footer-section-1 {
	&.dark_version {
		background-color: #04092f;
		.mt-footer-content {
			padding-top: 115px;
		}
	}
}
.mt-footer-content {
	gap: 20px 35px;
	padding-top: 50px;
	padding-bottom: 70px;
}
.mt-footer-widget {
	.widget-title {
		font-size: 25px;
		font-weight: 700;
		padding-bottom: 30px;
		color: var(--mt-title-color);
		&.dark_version {
			color: #fff;
		}
	}
	.logo-widget {
		width: 100%;
		max-width: 350px;
		padding-top: 30px;
		.brand-logo {
			padding-bottom: 45px;
		}
		&.dark_version {
			p {
				color: #e0e0e0;
			}
		}
	}
	.menu-widget {
		width: 100%;
		max-width: 555px;
		border-radius: 20px;
		padding: 35px 30px 25px;
		background-color: #f7f7f8;
		&.dark_version {
			background-color: #010523;
			li {
				a {
					color: #fff;
				}
			}
		}
		ul {
			display: flex;
			flex-wrap: wrap;
		}
		li {
			width: 50%;
			margin-bottom: 15px;
			a {
				color: #313030;
				font-size: 17px;
				position: relative;
				padding-left: 26px;
				&:before {
					left: 0;
					top: -1px;
					content: '\f058';
					font-size: 18px;
					font-weight: 900;
					position: absolute;
					font-family: "Font Awesome 6 Free";
					@extend%gradient-text;
				}
			}
		}
	}
	.newslatter-widget {
		max-width: 360px;
		&.dark_version {
			p {
				color: #e0e0e0;
			}
		}
		.widget-title {
			padding-bottom: 8px;
		}
		form {
			margin-top: 30px;
			overflow: hidden;
			position: relative;
			border-radius: 50px;
			input {
				width: 100%;
				height: 60px;
				border: none;
				padding-left: 30px;
				border-radius: 50px;
				background-color: #f9f9f9;
			}
			button {
				top: 0;
				right: 0;
				width: 70px;
				border: none;
				height: 60px;
				position: absolute;
				color: var(--mt-title-color);
				background: var(--mt-gradient);
			}
		}
	}
}
.mt-copyright-wrap {
	padding: 30px 0px;
	border-top: 1px solid #eef0f3;
	&.dark_version {
		border-top: 1px solid #0b2d52;
		.copyright-text {
			color: #fff;
		}
		.copyright-social { 
			a {
				color: #fff;
			}
		}
	}
	.copyright-text {
		color: #16192f;
	}
	.copyright-social {
		gap: 40px;
		a {
			color: var(--mt-title-color);
			font-size: 18px;
			font-weight: 600;
			i {
				margin-left: 5px;
				@extend%gradient-text;
			}
		}
	}
}