.mt-pricing-section {
	z-index: 1;
	overflow: hidden;
	.mt-section-title {
		max-width: 800px;
	}
	.price-shape {
		top: 0;
		left: 0;
		width: 100%;
		z-index: -1;
		margin: 0 auto;
		text-align: center;
		transform: scale(1.5);
		transition: all 1000ms ease;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&.active {
			transform: scale(1);
			transition-delay: 700ms;
		}
	}
}
.mt-price-item {
	z-index: 1;
	margin-bottom: 20px;
	border-radius: 20px;
	background-color: #fff;
	padding: 45px 75px 35px 35px;
	box-shadow: 0px 1px 51px 0px rgba(0, 0, 0, 0.1);
	@media #{$lg,$md,$sm,$xs} {
		gap: 30px;
		padding: 45px 35px 35px 35px;
	}
	@media #{$md,$sm,$xs} {
		flex-wrap: wrap;
		justify-content: center !important;
	}
	@media #{$xxs} {
		padding: 30px 15px 30px 15px;
	}
	&:before {
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		content: '';
		height: 0%;
		border-radius: 20px;
		position: absolute;
		background: var(--mt-gradient);
		transition: all 500ms ease;
	}
	.item-serial-title {
		gap: 15px 30px;
		@media #{$xxs} {
			gap: 15px 15px;
		}
	}
	.item-serial {
		width: 80px;
		height: 80px;
		color: #191917;
		font-size: 30px;
		font-weight: 700;
		border-radius: 100%;
		background-color: #f6f6f6;
		@media #{$xxs} {
			width: 60px;
			height: 60px;
			font-size: 18px;
		}
	}
	.item-text {
		color: #161414;
		font-size: 35px;
		max-width: 225px;
		font-weight: 700;
		line-height: 1.143;
		@media #{$xxs} {
			font-size: 20px;
		}
	}
	.item-img-view {
		top: 20px;
		left: 35%;
		width: 190px;
		transition: all 500ms ease;
		@media #{$lg,$md,$sm,$xs} {
			position: static !important;
		}
		@media #{$md,$sm,$xs} {
			display: none;
		}
	}
	.item-desc {
		max-width: 500px;
		transition: all 500ms ease;
		@media #{$xl} {
			max-width: 440px;
		}
		@media #{$lg,$md,$sm,$xs} {
			max-width: 350px;
		}
		h3 {
			color: #191917;
			font-weight: 700;
			font-size: 	30px;
			padding-bottom: 10px;
		}
		p {
			color: #313030;
			font-weight: 300;
		}
	}
	.item-img-hover {
		opacity: 0;
		bottom: 0;
		right: 0px;
		width: 320px;
		visibility: hidden;
		transform: scale(1.2);
		transition: all 500ms ease;
		@media #{$lg,$md,$sm,$xs} {
			display: none;
		}
	}
	&:hover {
		&:before {
			height: 100%;
		}
		.item-img-view {
			left: 30%;
			opacity: 0;
			visibility: hidden;
			transform: scale(.5);
			@media #{$lg,$md,$sm,$xs} {
				opacity: 1;
				left: 35%;
				transform: scale(1);
				visibility: visible;
			}
		}
		.item-desc {
			transform: translateX(-65%);
			@media #{$xl} {
				transform: translateX(-60%);
			}
			@media #{$lg,$md,$sm,$xs} {
				transform: translateX(0);
			}
		}
		.item-img-hover {
			opacity: 1;
			right: 60px;
			visibility: visible;
			transform: scale(1.0);
			@media #{$xl,$lg,$md,$sm,$xs} {
				right: 0;
			}
		}
	}
} 
.mt-price-top-area {
	gap: 30px;
	.mt-section-title {
		max-width: 700px;
	}
}
.mt-price-toggle {
	.slideToggle {
		display: flex;
		justify-content: center;
	}
	.slideToggle i {
		margin: 0 15px;
	}

	.form-switch {
		align-items: center;
		display: flex;
		cursor: pointer;
		padding-left: 0;
		-webkit-tap-highlight-color: transparent;
		justify-content: space-between;
		span {
			font-size: 26px;
			font-weight: 500;
			@media #{$xxs} {
				font-size: 20px;
			}
		}
	}

	.form-switch i {
		position: relative;
		display: inline-block;
		width: 70px;
		height: 40px;
		border: 1px solid #EEEEEE;
		border-radius: 100px;
		transition: all 0.3s linear;
		box-shadow: 0px 0px 4px 0px #00000040 inset;
	}

	.form-switch i::after {
		content: "";
		top: 4px;
		left: 4px;
		width: 24px;
		height: 24px;
		position: absolute;
		background: var(--mt-gradient);
		border-radius: 15px;
		transform: translate3d(4px, 3px, 0);
		transition: all 0.2s ease-in-out;
	}

	.form-switch input {
		display: none;
	}

	.form-switch input:checked + i::after {
		transform: translate3d(32px, 3px, 0);
	}
	.text-success {
		@extend%gradient-text;
	}
}
.pricingtablecontainer {
	.pricingtable-item {
		padding: 20px;
		margin-bottom: 30px;
		border-radius: 12px;
		background-color: #F6F6F6;
		border: 1px solid #FFFFFF1A;
		.price_img_value {
			padding: 24px;
			margin-bottom: 16px;
			border-radius: 8px;
			background-color: #fff;
		}
		.pricingtable {
			.price_img {
				margin-bottom: 10px;
				background-color: #fff;
			}
			.pricingtable__highlight {
				background-color: #fff;
			}
		}
		.pricingtable .js-yearlypricing {
			display: none;
		}
		.pricingtable__highlight {
			font-size: 56px;
			font-weight: 700;
			position: relative;
			display: inline-block;
			color: var(--mt-title-color);
			sub {
				right: -60px;
				position: absolute;
				bottom: 25px;
				font-size: 16px;
				line-height: 1;
				font-weight: 400;
				text-transform: uppercase;
			}
		}
		.pricingtable__head {
			font-size: 22px;
			font-weight: 700;
			padding-bottom: 5px;
			color: var(--mt-title-color);
		}
		.pr-text {
			color: #000000;
		}
		.pr-btn {
			margin-bottom: 16px;
			a {
				width: 100%;
				display: flex;
				color: #22282F;
				font-size: 16px;
				font-weight: 700;
				padding: 15px 15px;
				border-radius: 4px;
				align-items: center;
				justify-content: center;
				background: var(--mt-gradient);
			}
		}
		.mt-price-lsit {
			color: var(--mt-title-color);
			div {
				padding-left: 28px;
				position: relative;
				margin-bottom: 20px;
				&:before {
					top: 0;
					left: 0;
					font-weight: 400;
					content: '\f058';
					position: absolute;
					@extend%gradient-text;
					font-family: 'Font Awesome 5 Free';
				}
				&.disable {
					&:before {
						background: #95979B;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
			}
		}
	}
}