.mt-service-content {
	gap: 0px 80px;
	margin: 0 auto;
	max-width: 1140px;
	@media #{$lg,$md,$xs} {
		gap: 20px 30px;
	}
	@media #{$md,$xs} {
		flex-wrap: wrap;
		justify-content: center;
	}
}
.mt-service-text-area {
	max-width: 480px;
	@media #{$md,$xs} {
		max-width: 100%;
	}
	.mt-section-title {
		margin-bottom: 45px;
		p {
			font-size: 23px;
			font-weight: 600;
			max-width: 360px;
			padding-top: 15px;
			color: var(--mt-title-color);
		}
	}
} 
.mt-service-accordion {
	h3 {
		font-size: 36px;
		font-weight: 700;
		padding-bottom: 20px;
		border-bottom: 1px solid var(--mt-title-color);
	}
}
.mt-service-accordion {
	width: 100%;
	max-width: 570px;
	margin-top: 48px;
	@media #{$md,$xs} {
		max-width: 100%;
	}
	.accordion-item,
	.accordion-button:not(.collapsed),
	.accordion-button {
		background-color: transparent;
		box-shadow: none;
	}
	.accordion-item {
		border:  none;
		border-radius: 0;
		padding-left: 15px;
		position: relative;
		border-bottom: 1px solid var(--mt-title-color);
		
	}
	.accordion-button {
		padding: 0;
		border: none;
		font-size: 30px;
		font-weight: 700;
		position: relative;
		padding: 20px 0px 18px;
		transition: all 500ms ease;
		color: var(--mt-title-color);
		@media #{$xxs} {
			font-size: 26px;
		}
		span {
			display: flex;
			max-width: 85%;
			align-items: center;
			justify-content: center;
		}
	}
	.accordion-button:focus {
		border: none;
		box-shadow: none;
	}
	.accordion-body {
		padding: 0;
		font-size: 18px;
		line-height: 1.5;
		line-height: 30px;
		line-height: 1.667;
		padding-bottom: 30px;
		p {
			max-width: 420px;
		}
		a {
			display: block;
			font-weight: 700;
			margin-top: 10px;
			color: var(--mt-title-color);
			i {
				font-size: 14px;
				transform: rotate(-45deg);
			}
		}
	}
	.accordion-button::after {
		top: 20px;
		right: 22px;
		width: 32px;
		height: 32px;
		display: flex;
		content: '\f067';
		font-weight: 400;
		position: absolute;
		align-items: center;
		border-radius: 100%;
		background-image: none;
		justify-content: center;
		font-family: 'Font Awesome 5 Free';
	}
	.accordion-button:not(.collapsed) { 
		color: var(--mt-title-color);
		&:after {
			transform: rotate(45deg);
		}
	}
}
/*Home Page 2  Service Section/
/*----------------------------------------------------*/
.mt-service-item-3 {
	padding: 30px 40px;
	border-radius: 12px;
	margin-bottom: 20px;
	background-color: #fff;
	.item-icon {
		width: 86px;
		height: 86px;
		margin-right: 25px;
	}
	.item-text {
		span {
			color: #161414;
			font-size: 15px;
			display: block;
			font-weight: 600;
			padding-bottom: 5px;
		}
		.ser_title {
			color: #161414;
			font-size: 32px;
			font-weight: 700;
			a {
				padding-bottom: 1px;
			}
		}
	}
}
.mt-bottom-text {
	p {
		color: #161414;
		font-size: 20px;
		font-weight: 700;
		a {
			text-decoration: underline;
		}
	}
}