.mt-team-section {
	background-color: #000000;
}
.mt-team-top-content {
	.mt-section-title {
		max-width: 480px;
		.sec_title {
			color: #fff;
		}
	}
	.top-text-btn {
		max-width: 415px;
		p {
			color: #fff;
			padding-bottom: 30px;
		}
	}
} 
.mt-team-content {
	gap: 0px 15px;
}